h1{
    background-color: grey;
    color: honeydew;
}

@media (min-width: 1024px){
    h1{
    background-color: blue;
    }
}

@media (min-width: 768px){
    h1{
    background-color: yellow;
    }
}